<!------------Searching input-------------->
<div class="flex items-center justify-center mt-7">
    <div
      class="w-[950px] h-[32px] flex items-center justify-between border border-gray-300 rounded-md shadow-md bg-white"
    >
      <input
        type="text"
        placeholder="Search..."
        class="flex-grow ml-4 text-gray-600 font-Roboto text-sm outline-none bg-transparent"
      />
      <button class="mr-4 text-gray-500 hover:text-black">
        <img src="/searchimg.png" alt="search" class="h-5 w-5" />
      </button>
    </div>
  </div>
  <!--------------------------------------->

  <!-----------Show Events------------>

<div class="flex items-center justify-center mt-5">
    <div
      class="w-[950px] bg-white border border-gray-300 rounded-lg shadow-lg overflow-hidden"
    >
      <table class="table-auto w-full border-collapse">
        <thead class="bg-gray-100">
          <tr>
            <th class="px-4 py-2 text-center text-gray-700 font-semibold">
              Sl no
            </th>
            <th class="px-4 py-2 text-center text-gray-700 font-semibold">
              Image
            </th>
            <th class="px-4 py-2 text-center text-gray-700 font-semibold">
              Event Name
            </th>
            <th class="px-4 py-2 text-center text-gray-700 font-semibold">
              Packages
            </th>
            <th class="px-4 py-2 text-center text-gray-700 font-semibold">
              Status
            </th>
          </tr>
        </thead>
        <tbody>
          <tr
            class="hover:bg-gray-50 cursor-pointer"
            *ngFor="let event of events; let i = index"
          >
            <td class="px-4 py-2 text-center text-gray-600">{{ i + 1 }}</td>
            <td
              class="px-4 py-2 text-center text-gray-600 flex items-center justify-center cursor-pointer"
            >
              <img
                [src]="event.image"
                alt="event.eventName"
                class="rounded-full h-10 w-10"
              />
            </td>
            <td class="px-4 py-2 text-center text-gray-600 cursor-pointer">
              {{ event.eventName }}
            </td>
            <td class="px-4 py-2 text-center text-gray-600 cursor-pointer">
              {{ event.packageName }}
            </td>
            <td class="px-4 py-2 text-center text-gray-600 cursor-pointer">
              <div class="flex items-center justify-center gap-x-2">
                <div
                  class="h-2 w-2 rounded-full"
                  [ngClass]="event.isActive ? 'bg-green-500' : 'bg-red-500'"
                ></div>
                <p>{{ event.isActive ? "Active" : "Inactive" }}</p>
              </div>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  
  <!---------------------------------->