<div class="min-h-screen flex">
    <div class="w-64 border border-r-1">
        <div class="flex justify-center">
            <div class="h-40 w-60 flex flex-col items-center justify-center">
                <img src="logo.png" alt="logo" class="h-14 w-auto">
                <p class="text-3xl text-black" 
                style="font-family: 'Kaushan Script', serif; 
                font-weight: 300; 
                font-style: normal;">Occasio</p>
                <p class="text-black text-xs font-semibold">
                    EVENTS
                </p>
            </div>
        </div>
            <div class="flex justify-center mb-3">
                <button (click)="navigateTo('admin/dashboard')" class="flex border justify-center items-center gap-2 border-black h-9 w-52 rounded-lg shadow-lg bg-white hover:bg-gray-200 active:bg-gray-400"><img src="dashboard.png" alt="dashboard" class="h-6 w-6">Dashboard</button>
            </div>
            <div class="flex justify-center mb-3">
                <button (click)="navigateTo('admin/event')" class="flex border justify-center items-center gap-1 border-black h-9 w-52 rounded-lg shadow-lg bg-white hover:bg-gray-200 active:bg-gray-400"><img src="events.png" alt="events" class="h-6 w-6">Events & Packages</button>
            </div>
            <div class="flex justify-center mb-3">
                <button class="flex border justify-center items-center gap-1 border-black h-9 w-52 rounded-lg shadow-lg bg-white hover:bg-gray-200 active:bg-gray-400"><img src="food.png" alt="food" class="h-6 w-6">Food & Management</button>
            </div>
            <!----------------Logout---------------->
            <div class="flex justify-center mb-3">
                <button class="flex border justify-center items-center gap-1 border-black text-white h-9 w-28 rounded-lg shadow-lg bg-black hover:bg-gray-500 hover:text-black active:bg-gray-400">Log out</button>
            </div>
        </div>
    </div>