<p class="text-2xl text-yellow-600 p-5 KayPhoDu font-medium">Clients & Management</p> 
<!------------Searching input-------------->
<div class="container">
  <app-search 
  placeholder="Search client..." 
  (searchQuery)="onSearch($event)"
  (filterChange)="onFilterChange($event)"
  ></app-search>
</div>
<!--------------------------------------->

<!----------------------client listing----------------------->

<app-re-table
[users]="filteredUsers"
[isClientList]="true"
(toggleBlockStatus)="toggleBlockStatus($event.userId,$event.status)"
></app-re-table>

<!----------------------------------------------------------->
<div class="flex justify-center pt-7">
  <app-pagination
    [currentPage]="currentPage"
    [totalPages]="totalPages"
    [totalItems]="totalItems"
    [itemsPerPage]="itemsPerPage"
    (pageChange)="onPageChange($event)"
  ></app-pagination>
</div>
