<div class="container">
    <app-user-nav></app-user-nav>
</div>
<div>
    <h1 class="flex justify-center font-kaushan text-4xl text-yellow-600 pt-14">The Team</h1>
    <div class="pt-7 pb-7">
    <div class="flex gap-10 p-4 items-center justify-center">
        <img src="UBanner_1.jpg" alt="UBanner" class="h-[300px] w-[225px] object-cover">
        <img src="UBanner_2.jpg" alt="UBanner" class="h-[300px] w-[225px] object-cover">
        <img src="UBanner_3.jpg" alt="UBanner" class="h-[300px] w-[225px] object-cover">
        <img src="UBanner_4.jpg" alt="UBanner" class="h-[300px] w-[225px] object-cover">
    </div>
    <div class="flex gap-10 p-4 items-center justify-center">
        <img src="UBanner_1.jpg" alt="UBanner" class="h-[300px] w-[225px] object-cover">
        <img src="UBanner_2.jpg" alt="UBanner" class="h-[300px] w-[225px] object-cover">
        <img src="UBanner_3.jpg" alt="UBanner" class="h-[300px] w-[225px] object-cover">
        <img src="UBanner_4.jpg" alt="UBanner" class="h-[300px] w-[225px] object-cover">
    </div>
    <div class="flex gap-10 p-4 items-center justify-center">
        <img src="UBanner_1.jpg" alt="UBanner" class="h-[300px] w-[225px] object-cover">
        <img src="UBanner_2.jpg" alt="UBanner" class="h-[300px] w-[225px] object-cover">
        <img src="UBanner_3.jpg" alt="UBanner" class="h-[300px] w-[225px] object-cover">
        <img src="UBanner_4.jpg" alt="UBanner" class="h-[300px] w-[225px] object-cover">
    </div>
</div>
<div class="h-[200px] bg-yellow-300">
    <P>MAPPPP</P>
</div>
    </div>

    <app-footer></app-footer>