<div class="h-screen w-screen relative flex">
  <img
    src="bg.jpg"
    alt="Background Image"
    class="h-full w-full object-cover absolute z-0"
  />
  <!-----left side----->
  <div
    class="bg-white bg-opacity-60 flex-1 flex items-center justify-center z-10"
  >
    <div class="h-60 w-60 flex flex-col items-center justify-center">
      <img src="logo.png" alt="logo" class="h-24 w-auto" />
      <p class="text-6xl text-black font-kaushan">Occasio</p>
      <p class="text-black text-sm font-semibold">EVENTS</p>
    </div>
  </div>
  <!-----right side----->
  <div
    class="bg-white bg-opacity-60 flex-1 flex items-center justify-center z-10"
  >
    <div class="bg-white bg-opacity-60 h-[500px] w-[600px] m-20 rounded-lg">
      <p
        class="text-yellow-600 mt-12 mb-2 text-center font-bold text-4xl font-kaushan"
      >
        Welcome Back
      </p>
      <div class="flex justify-center items-center mt-1 space-x-2">
        <p class="text-sm">Don't have an account?</p>
        <a routerLink="/user-register" href="#" class="text-blue-600 text-sm"
          >Signup</a
        >
      </div>
      <div
        class="bg-white bg-opacity-55 shadow-lg h-[350px] w-[430px] ml-20 mr-8 rounded-lg mt-2 pt-5"
      >
        <!-- <button
          class="flex items-start justify-center bg-white border border-blue-400 rounded-lg px-24 py-2 ml-5 mr-5 hover:shadow-lg cursor-pointer mt-1"
        >
          <img src="google.png" alt="Google" class="h-5 w-5 mr-3" />
          <span class="text-blue-700 font-normal text-sm"
            >Sign in with Google</span>
    </button> -->

      <p class="text-center text-sm text-red-600 pb-1" *ngIf="errorMessage">{{errorMessage}}</p>
      <div class="flex items-center justify-center">
          <div id="google-btn">
        </div>
    </div>
        <div class="flex items-center my-4">
          <div class="flex-grow border-t border-gray-500"></div>
          <span class="px-4 text-gray-500 text-sm font-normal"
            >or continue with email</span
          >
          <div class="flex-grow border-t border-gray-500"></div>
        </div>
        <app-login-form [formType]="'user'"></app-login-form>
      </div>
    </div>
  </div>
</div>
