.modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    z-index: 9999; /* Lower than spinner */
  }
  

  :host ::ng-deep .toast-container {
    z-index: 50 !important; /* Higher than modal's z-index */
  }