<div class="relative">
  <!-- Background with opacity -->
  <div>
    <app-user-nav></app-user-nav>
  </div>
  <!-- Middle Section -->
  <div
    class="absolute top-44 left-0 w-full h-[390px] flex items-center justify-center px-4"
  >
    <div class="flex gap-3">
      <img
        src="UBanner_1.jpg"
        alt="UBanner"
        class="h-[420px] w-[225px] object-cover shadow-lg opacity-0 transform -translate-y-16 animate-slide-in delay-[200ms]"
      />
      <img
        src="UBanner_2.jpg"
        alt="UBanner"
        class="h-[420px] w-[225px] object-cover shadow-lg opacity-0 transform -translate-y-16 animate-slide-in delay-[400ms]"
      />
      <img
        src="UBanner_3.jpg"
        alt="UBanner"
        class="h-[420px] w-[225px] object-cover shadow-lg opacity-0 transform -translate-y-16 animate-slide-in delay-[600ms]"
      />
      <img
        src="UBanner_4.jpg"
        alt="UBanner"
        class="h-[420px] w-[225px] object-cover shadow-lg opacity-0 transform -translate-y-16 animate-slide-in delay-[800ms]"
      />
      <img
        src="UBanner_5.jpg"
        alt="UBanner"
        class="h-[420px] w-[225px] object-cover shadow-lg opacity-0 transform -translate-y-16 animate-slide-in delay-[1000ms]"
      />
    </div>
  </div>

  <!-- Final Section -->
  <div class="h-[680px] bg-gray-100 pt-52 flex justify-center">
    <div class="bg-white w-[1100px] h-[430px] flex">
        <!-- Left Text Section -->
        <div class="w-1/2 p-8 flex flex-col justify-center items-center">
            <p class="text-yellow-600 text-lg leading-relaxed font-KayPhoDu">
                At Occasio, we believe that every event is a reflection of its host,
                and we design experiences that speak to your story, vision, and unique
                style. Whether you're planning a corporate gathering, a grand
                celebration, or an intimate affair, we create events that honor your
                journey, wherever it takes you.
            </p>
            <!-- <button
                class="animate-pulse flex items-center bg-yellow-100 text-yellow-600 font-medium rounded-2xl px-6 py-2 mt-4 w-[200px] shadow-2xl hover:bg-yellow-200 transition-colors"
            >
                <span class="flex-1 text-left font-KayPhoDu font-bold tracking-wider">Mark your date</span>
                <i class="fa-solid fa-arrow-right-long"></i>
            </button> -->
        </div>
        <!-- Right Image Section -->
        <div class="w-1/2 flex relative">
            <div class="w-[300px] h-[300px] absolute z-30 -top-14 left-4">
                <img
                    src="img1.jpg"
                    alt="Couple"
                    class="object-cover h-[430px] w-full"
                />
            </div>
            <div class="w-1/2 h-full absolute z-10 right-8 -top-7">
                <img
                    src="img2.jpg"
                    alt="Food"
                    class="object-cover h-[430px] w-full"
                />
            </div>
        </div>
    </div>
</div>
  <div class="bg-gray-100 h-[730px]">
    <div class="flex justify-center gap-44 p-5 text-yellow-600 font-KayPhoDu">
      <div class="flex flex-col items-center">
        <p>Coloring Up Your</p>
        <p class="text-red-400 text-6xl font-Katibeh">WEDDING</p>
      </div>
      <div class="flex flex-col items-center">
        <p>Adding Elegance To Your</p>
        <p class="text-green-400 font-Katibeh text-6xl">EVENTS</p>
      </div>
      <div class="flex flex-col items-center">
        <p>Bring Charm To Your</p>
        <p class="text-blue-400 text-6xl font-Katibeh">MOMENTS</p>
      </div>
    </div>
    <div class="flex justify-center gap-20 pt-14">
      <div class="flex gap-7">
        <div
          class="bg-yellow-600 bg-opacity-50 shadow-lg w-[250px] h-[320px] flex flex-col items-center justify-center rounded-sm cursor-pointer"
          [routerLink]="['/services']"
        >
          <img src="logo.png" alt="logo" class="h-16 w-20 mb-5" />
          <p class="font-semibold mb-2 font-KayPhoDu tracking-wider">
            FULL PLANNING
          </p>
          <p class="w-48 font-KayPhoDu text-center">
            ensuring a seamless and stress-free experience that brings your
            vision to life.
          </p>
        </div>
        <div
          class="bg-gray-600 bg-opacity-10 shadow-lg w-[250px] h-[320px] mt-10 flex flex-col items-center justify-center rounded-sm cursor-pointer"
          [routerLink]="['/services']"
        >
          <img src="logo.png" alt="logo" class="h-16 w-20 mb-5" />
          <p class="font-semibold mb-2 font-KayPhoDu tracking-wider">CUSTOM</p>
          <p class="w-40 font-KayPhoDu text-center">
            Tailored to reflect your unique vision and style
          </p>
        </div>
      </div>
      <div
        class="w-[300px] h-auto mt-10 flex flex-col items-center justify-center text-center gap-4"
      >
        <p class="text-yellow-600 text-3xl font-kaushan">Where we stand out.</p>
        <p class="font-KayPhoDu tracking-wider">
          We believe every event deserves meticulous care and undivided
          attention. By partnering with us, you gain a team fully committed to
          your vision and joy. We limit our events to ensure every detail is
          thoughtfully designed and flawlessly executed, creating a unique
          experience you truly deserve.
        </p>
        <!-- <button
          class="animate-pulse flex items-center bg-yellow-100 text-yellow-600 font-medium rounded-2xl px-6 py-2 w-[170px] shadow-2xl hover:bg-yellow-200 transition-colors"
        >
          <span class="flex-1 text-left font-KayPhoDu font-bold tracking-wider"
            >Mark your date</span
          >
        </button> -->
        
      </div>
    </div>
    <div class="mt-10">
      <div
        class="flex justify-center gap-36 p-5 text-yellow-600 font-KayPhoDu tracking-wider"
      >
        <div class="flex flex-col items-center">
          <p class="text-yellow-600 text-6xl font-Katibeh mb-3">600+</p>
          <p class="text-gray-500 font-semibold">Weddings</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-yellow-600 text-6xl font-Katibeh mb-3">150+</p>
          <p class="text-gray-500 font-semibold">Venues</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-yellow-600 text-6xl font-Katibeh mb-3">750+</p>
          <p class="text-gray-500 font-semibold">Events</p>
        </div>
        <div class="flex flex-col items-center">
          <p class="text-yellow-600 text-6xl font-Katibeh mb-3">6000+</p>
          <p class="text-gray-500 font-semibold">Happy Clients</p>
        </div>
      </div>
    </div>
  </div>
  <div class="bg-gray-100 h-[600px] flex justify-center">
    <div class="bg-white w-[730px] h-[520px] justify-center mt-14">
      <p class="mt-8 text-3xl text-yellow-600 text-center font-kaushan">
        Recent Events
      </p>
      <div class="flex justify-center mt-6 gap-3">
        <img
          src="recentEvent1.jpg"
          alt="Recent Event1"
          class="w-[300px] h-[400px] object-cover"
        />
        <img
          src="recentEvent2.jpg"
          alt="Recent Event2"
          class="w-[300px] h-[400px] object-cover"
        />
        <img
          src="recentEvent3.jpg"
          alt="Recent Event3"
          class="w-[300px] h-[400px] object-cover"
        />
      </div>
    </div>
  </div>
  <div class="h-[680px]">
    <div class="relative h-[300px]">
      <img
        src="contact.jpg"
        alt="contact"
        class="h-[300px] w-screen object-cover opacity-50"
      />

      <!-- Text content aligned to the left -->
      <div class="absolute top-28 w-2/4 left-28 flex flex-col space-y-2 pl-4">
        <p
          class="text-black text-3xl font-semibold font-kaushan tracking-wider"
        >
          Get in Touch
        </p>
        <p class="text-black text-md">
          Have questions or ready to plan your event? Contact us today – we're
          here to make it unforgettable!
        </p>
      </div>

      <!-- Button aligned to the right -->
      <div class="absolute top-32 right-64">
        <button
          class="animate-pulse bg-black text-white py-2 px-6 rounded-lg hover:bg-gray-800 shadow-lg"
        >
          Contact Us
        </button>
      </div>
    </div>
    <div>
      <p class="mt-12 text-3xl text-yellow-600 text-center font-kaushan">
        Purposeful Event Creation
      </p>
      <p class="mt-5 text-center font-KayPhoDu tracking-wider">
        Where unforgettable memories are created, and magic brings every moment
        alive.
      </p>
    </div>
    <div class="flex flex-wrap justify-center mt-9 gap-8">
      <div class="w-24 h-10 mt-28 flex items-center justify-center">
        <img
          src="amazon.png"
          alt="Brand 1"
          class="object-contain h-full w-full"
        />
      </div>
      <div class="w-24 h-24 flex items-center justify-center">
        <img
          src="google_rating.png"
          alt="Brand 2"
          class="object-contain h-full w-full"
        />
      </div>
      <div class="w-24 h-24 mt-20 flex items-center justify-center">
        <img
          src="microsoft.png"
          alt="Brand 3"
          class="object-contain h-full w-full"
        />
      </div>
      <div class="w-24 h-24 flex items-center justify-center">
        <img
          src="nestle.png"
          alt="Brand 4"
          class="object-contain h-full w-full"
        />
      </div>
      <div class="w-24 h-24 mt-20 flex items-center justify-center">
        <img
          src="nike.png"
          alt="Brand 5"
          class="object-contain h-full w-full"
        />
      </div>
      <div class="w-24 h-24 flex items-center justify-center">
        <img
          src="redbull.png"
          alt="Brand 6"
          class="object-contain h-full w-full"
        />
      </div>
      <div class="w-24 h-24 mt-20 flex items-center justify-center">
        <img
          src="samsung.png"
          alt="Brand 7"
          class="object-contain h-full w-full"
        />
      </div>
      <div class="w-24 h-24 flex items-center justify-center">
        <img
          src="sprite.webp"
          alt="Brand 8"
          class="object-contain h-full w-full"
        />
      </div>
      <div class="w-24 h-24 mt-20 flex items-center justify-center">
        <img
          src="cocacola.png"
          alt="Brand 9"
          class="object-contain h-full w-full"
        />
      </div>
    </div>
  </div>
  <app-footer class="bottom-0"></app-footer>
  <!-- Back to Top Button -->
  <button
    *ngIf="showScrollButton"
    (click)="scrollToTop()"
    class="fixed bottom-10 right-10 bg-white-100 bg-yellow-600 opacity-65 p-3 rounded-full w-[49px] shadow-lg hover:bg-yellow-600 transition-all"
  >
    <i class="fa-solid fa-arrow-up text-white"></i>
  </button>
</div>
