<div class="absolute inset-0 flex flex-col items-center justify-center pt-24">
<h1 class="text-4xl font-bold mb-2 font-kaushan text-yellow-600">
  Welcome to Occasio
</h1>
<div class="w-56 h-[1px] bg-gray-500 mb-4"></div>
<p class="text-md text-gray-600 max-w-4xl text-center font-KayPhoDu">
  Occasio Events was founded on the belief that every event should be a unique
  and meaningful experience. With over 15 years of expertise in Paris and
  beyond, our team has brought dreams to life—whether it’s an intimate gathering
  for 20 in a charming countryside setting or managing elaborate corporate galas
  and multi-day celebrations.Our foundation is built on delivering full-service
  planning with fresh creativity and unparalleled dedication to our clients. We
  love what we do and take immense pride in crafting unforgettable experiences
  for those who entrust their special moments to us.
</p>
</div>