<!---------------NAV-BAR---------------->
<app-user-scnd-nav></app-user-scnd-nav>

<!-------------EVENTS-LIST-------------->

<div class="p-10">
    <p class="flex text-4xl text-yellow-600 font-kaushan justify-center pb-5">
      Wedding Events
    </p>
    <div class="flex flex-wrap justify-start gap-6 p-4">
      <div class="w-full sm:w-[350px] bg-white shadow-lg rounded-2xl overflow-hidden">
        <img src="stageShow.jpg" class="w-full h-52 object-cover" />
        <div class="p-4">
          <h2 class="text-3xl text-yellow-600 font-kaushan">Silver Package</h2>
          <p class="text-gray-600 text-md pt-2">Starting at: ₹123456</p>
          <div class="flex justify-between items-center pt-2">
            <div class="flex items-center text-gray-500 text-sm">
              <span>⭐⭐⭐⭐⭐</span>
              <p class="text-xs ml-2">2.3 (5000 ratings)</p>
            </div>
            <p class="text-blue-700 hover:text-blue-400 transition cursor-pointer text-xs ml-auto">
              View more...
            </p>
          </div>
          <div class="pt-3">
              <p class="font-kaushan">Package features :</p>
              <p class="text-xs pt-2">Stage decoration: ₹26,000</p>
              <p class="text-xs pt-1">Light and sound: ₹14,000</p>
              <p class="text-xs pt-1">Auditorium / Destination: ₹60,000</p>
              <div class="pt-3">
                  <button
                  class="bg-blue-900 text-white px-4 py-2 text-xs rounded-lg hover:bg-blue-800 transition"
                  (click)="viewdetails()"
                  >View Details</button>
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  

<!---------------FOOTER----------------->
<app-footer></app-footer>
