<div class="container">
  <app-user-nav [title]="'Services'"
  [content]="'At Occasio Events, we offer tailored services designed to fit your needs and budget through our four exclusive packages: Silver, Gold, Platinum, and Diamond. Each package is thoughtfully curated to provide a seamless event planning experience, from intimate gatherings to grand celebrations. Whether you’re looking for essential support or a fully immersive experience, our packages make it easy to select the perfect fit for your vision and budget. With a commitment to excellence and customer satisfaction, we take pride in crafting unforgettable events that leave our clients truly happy.'"
></app-user-nav>
</div>

<div class="container mx-auto px-24 py-8 pt-20">
  <!-- Loop through events -->
  <div
    class="relative mb-24"
    *ngFor="let event of events; let i = index"
    
  >
    <div class="flex flex-col md:flex-row items-center gap-10"
    [ngClass]="{ 'md:flex-row-reverse': i % 2 !== 0 }">
      <div class="w-full md:w-3/4 space-y-4">
        <div class="flex justify-center">
          <h2 class="text-4xl text-yellow-600 font-kaushan">
            {{ event.eventName }}
          </h2>
        </div>
        <p class="text-gray-600 text-center font-KayPhoDu">
          {{ event.description }}
        </p>
          <!-- <div class="flex justify-center">
            <button
              class="px-6 py-2 bg-yellow-100 text-yellow-800 rounded-full hover:bg-yellow-200 transition-colors"
              (click)="showPackage(event._id)"
            >
              Read More
            </button>
          </div> -->
      </div>
      <div class="w-full md:w-2/4">
        <img
          [src]="event.image"
          [alt]="event.eventName"
          class="rounded-t-full w-[350px] h-[450px] rounded-b-none shadow-lg  object-cover"
        />
      </div>
      
    </div>
  </div>
</div>


<div>
    <div class="relative h-[200px] flex flex-col justify-center items-center gap-4">
        <div class="absolute top-0 left-0 right-0 h-[180px] bg-yellow-100 blur-lg"></div>
        <h1 class="relative z-10 text-2xl font-kaushan text-yellow-600">Let's Planning Together</h1>
       <!-- <p>ksnmvsdl</p> -->
        <p class="relative text-gray-600 text-center font-KayPhoDu pl-20 pr-20">we are passionate about transforming ideas into extraordinary experiences. With a deep commitment to creativity, precision, and excellence, we strive to make every event memorable. Whether it’s a grand celebration or an intimate gathering, our focus remains on bringing your vision to life. We believe every detail matters, and our team is here to ensure your journey with us is seamless, enjoyable, and truly remarkable. Let us turn your moments into lifelong memories.</p>
    </div>
</div>

<app-footer></app-footer>