<div class="flex items-center justify-center mt-5">
  <div
    class="w-[950px] bg-white border border-gray-300 rounded-lg shadow-lg overflow-hidden"
  >
    <table class="table-auto w-full border-collapse">
      <thead class="bg-gray-100">
        <tr>
          <th class="px-4 py-2 text-center text-gray-700 font-semibold">
            Sl no
          </th>
          <th class="px-4 py-2 text-center text-gray-700 font-semibold">
            Profile Img
          </th>
          <th class="px-4 py-2 text-center text-gray-700 font-semibold">
            Name
          </th>
          <th class="px-4 py-2 text-center text-gray-700 font-semibold">
            email
          </th>
          <!-- <th class="px-4 py-2 text-center text-gray-700 font-semibold">
            Status
          </th> -->
          <th class="px-4 py-2 text-center text-gray-700 font-semibold">
            Block / Unblock
          </th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="users.length === 0">
          <td colspan="6" class="text-center text-gray-600 py-4">
            No users found.
          </td>
        </tr>
        <tr
          class="hover:bg-gray-50 cursor-pointer"
          *ngFor="let user of users; let i = index"
        >
          <td class="px-4 py-2 text-center text-gray-600">{{ i + 1 }}</td>
          @if(user.imageUrl){
          <td
            class="px-4 py-2 text-center text-gray-600 flex items-center justify-center cursor-pointer"
          >
            <img
              [src]="user.imageUrl"
              alt="user.png"
              class="rounded-full h-10 w-10"
            />
          </td>
          }@else {
          <td
            class="px-4 py-2 text-center text-gray-600 flex items-center justify-center cursor-pointer"
          >
            <img
              hre
              src="user.png"
              alt="user.png"
              class="rounded-full h-10 w-10"
            />
          </td>
          }
          <td class="px-4 py-2 text-center text-gray-600 cursor-pointer">
            {{ user.name }}
          </td>
          <td class="px-4 py-2 text-center text-gray-600 cursor-pointer">
            {{ user.email }}
          </td>

          <!-- @if(user.isActivated){
          <td class="px-4 py-2 text-center cursor-pointer">
            <p class="text-green-700 text-sm">Online</p>
          </td>
          }@else{
          <td class="px-4 py-2 text-center cursor-pointer">
            <p class="text-red-700 text-sm">Offline</p>
          </td>
          } -->
          <td class="px-4 py-2 text-center">
            <button
              (click)="onToggleBlock(user._id, user.isBlocked)"
              [ngClass]="user.isBlocked ? 'bg-green-600' : 'bg-red-700'"
              class="text-white rounded-md px-4 py-1"
            >
              {{ user.isBlocked ? "Unblock" : "Block" }}
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
